*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  cursor: default;
  user-select: none;
}
@font-face {
  font-family: "Century Gothic";
  src: local("Century Gothic"), url("../font/GOTHIC.TTF") format("ttf");
}
@font-face {
  font-family: "Vazir";
  src: local("Vazir"), url("../font/Vazir.woff2") format("woff2");
}
body {
  user-select: none;
  background-color: #253034;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.card {
  display: flex;
  border-radius: 12px;
}
.front:hover, .back:hover{
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.39);
}
.front {
  width: 263px;
  height: 420px;
  border-radius: 12px;
  background-color: #186bd0;
  transition: all 0.15s linear 80ms;
}
.chipset {
  width: 55px;
  margin-top: 42px;
  margin-left: 118px;
}
.text {
  font-family: "Century Gothic";
  font-weight: 400;
  font-size: 22px;
  color: white;
  text-align: center;
  margin-top: 90px;
}
.logo {
  width: 75px;
  margin-left: 40px;
  margin-top: 88px;
}
.card:active .front {
  transform: rotate3d(0, 1, 0, 180deg);
  opacity: 0;
}
.card:active .back {
  transform: rotate3d(0, 1, 0, 360deg);
  opacity: 1;
  z-index: 2;
}
.back {
  z-index: -1;
  opacity: 0;
  width: 263px;
  height: 420px;
  border-radius: 12px;
  background-color: #90c0fb;
  font-family: "Vazir";
  color: #30383b;
  position: absolute;
  transform: rotate3d(0, 1, 0, 180deg);
  transition: all 0.15s linear 80ms;
}
.rectangle {
  width: 63px;
  height: 420px;
  background-color: #000;
  margin-left: 20px;
  position: absolute;
}
.first-section {
  margin-left: 108px;
  padding-top: 25px;
}
.website {
  transform: rotate(-90deg);
  position: relative;
  left: -175px;
  top: -84px;
  font-size: 11px;
}
.num {
  font-size: 21px;
  margin-top: 40px;
}
.last-section {
  display: flex;
  margin-left: 108px;
  gap: 30px;
  font-size: 13px;
  margin-top: 35px;
}
.samanBank {
  width: 123px;
  margin-top: 15px;
  margin-left: 108px;
}
@media (max-width: 640px){
  .button-section{
    transform: scale(0.85);
  }
}
.button-section {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.button {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.blue {
  background-color: #186bd0;
}
.blue:focus {
  border: 2px solid #01387b;
}
.red {
  background-color: #f70c3d;
}
.red:focus {
  border: 2px solid #920121;
}
.green {
  background-color: #0ea57f;
}
.green:focus {
  border: 2px solid #005b44;
}
.black {
  background-color: #0e0e0e;
}
.black:focus {
  border: 2px solid #000000;
}
.purple {
  background-color: #7a3f75;
}
.purple:focus {
  border: 2px solid #481c45;
}
.rossGold {
  background-color: #df9572;
}
.rossGold:focus {
  border: 2px solid #934a29;
}
.yellow {
  background-color: #fcb736;
}
.yellow:focus {
  border: 2px solid #856427;
}